* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    background: #f3f4f8;
}
.flex{
    display: flex;
}
#menu{
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: #fff;
    box-shadow:1px 1px 10px rgba(0, 0, 0, 0.06);
}
.navbar{
    position: relative;
}
.profile{
    padding: 25px;
    text-align: center;
}
.profile_img{
    width: 70px;
    margin: 0 auto 10px;
}
.profile_img img{
    width: 100%;
    padding: 3px;
    border: 2px solid #EE3F35;
    border-radius: 100px;
}
.profile_info h2{
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 800;
    color: #374049;
}
.profile_info p{
    font-weight: 600;
    font-size: 15px;
    color: #90959b;
}
.navbar ul{
    padding: 10px 40px;
    list-style: none;
}
.navbar ul li a{
    display: block;
    text-decoration: none;
    font-size: 14px;
    padding: 15px;
    color: #9ca0a5;
    font-weight: 600;
}
.navbar a:hover{
    color: #EE3F35;
}
.hover-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #EE3F35;
    transition: width .3s;
}
.hover-link:hover::after{
    width: 100%;
    transition: width .3s;
}
.active{
    background: #EE3F35;
    border-radius: 50px;
    height: 15px;
    color: #fff !important;
}
.copyR{
    color: #EE3F35;
    font-size: 13px;
    position: absolute;
    bottom: 10px;
    left: 45px;
}
#header{
    top:0;
    position: fixed;
    right: 0;
    width: calc(100% - 250px);
    height: 100px;
    background: #fff;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 0.1px 5px rgba(0, 0, 0, 0.06);
}
#header h2{
    color: #EE3F35;
    text-transform: uppercase;
    font-weight: 800;
    margin-right: 10px;
}
#header img{
    float: right;
    width: 55px;
    height: 50px;
    margin-right: 40px;
}
/* Body-Info */
.body_info{
    float: right;
    margin-top: 140px;
    margin-right: 40px;
    width: calc(100% - 331px);
    height: calc(100% - 181px);
}
/*Widget*/
.color1{
    background: #00C292;
}
.color2{
    background: #03A9F3;
}
.color3{
    background: #FB7146;
}
.color4{
    background: #B276B2;
}
.color5{
    background: #EE3F35;
}
.color6{
    background: #DECF3F;
}
.widget{
    display: inline-block;
    margin: 15px;
    padding: 20px;
    width: 250px;
    height: 90px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.info-db{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
}
.widget p{
    font-size: 16px;
    margin-top: 0;
}
/* Table */
.table-content{
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 600px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table-content thead tr{
    background-color: #EE3F35;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
} 
.table-content th, .table-content td{
    padding: 15px 20px;
}  
.table-content tbody tr{
    border-bottom: 1px solid #dddddd;
}
.table-content tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.table-content tbody tr:hover{
    cursor: pointer;
}
.button-add{
    width: 170px;
    height: 50px;
    color: white;
    background-color: #EE3F35;
    border-radius: 30px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 15px;
    font-weight: bold;
}
.button-add:hover{
    background-color: white;
    color: #EE3F35;
    transition: .5s;
}  
/* ADD ADMIN */
.register-form{
    width: 300px;
    padding: 60px 50px;
    border-radius: 25px;
    margin: auto;
    background: white;
}
.register-form h3{
    text-align: center;
    color: #EE3F35;
    font-weight: bold;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1 px solid #999;
    border-left: 0;
    outline: none;
    background: transparent;
}
input[type="file"]{
    opacity: 0;
    width: 0;
    margin-bottom: 40px;
}
#file-label{
    color: white;
    background-color: #EE3F35;
    padding: 10px;
    font-size: 13px;
    border-radius: 30px;
    margin-bottom: 50px;
}
.first-input{
    margin-top: 40px;
}
.marginBottom{
    margin-bottom: 20px;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background-color: #EE3F35;
    color: white;
    border: 0;
    border-radius: 30px;
}
.submit-btn:hover{
    background-color: white;
    color: #EE3F35;
    transition: .3s;
    border: 2px solid #EE3F35;
}