#aboutus{
    text-align: center;
    font-size: 50px;
    font-weight: 800;
  }
/* .fancy {
    line-height: 0.5;
    text-align: center;
  }
  .fancy span {
    display: inline-block;
    position: relative;  
  }
  .fancy span:before,
  .fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    top: 0;
    width: 600px;
  }
  .fancy span:before {
    right: 100%;
    margin-right: 15px;
  }
  .fancy span:after {
    left: 100%;
    margin-left: 15px;
  } */
  #aboutus {
    color: #EE3F35;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#aboutus:before,
#aboutus:after {
    content: '';
    border-top: 3px solid;
    border-top-left-radius: 25px;
    margin: 0 20px 0 0;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom: 3px solid;
    flex: 1 0 20px;
    border-bottom-right-radius: 25px;
    margin-left: 40px;
    margin-right: 40px;
}

#aboutus:after {
    content: '';
    border-top: 3px solid;
    border-top-left-radius: 25px;
    margin: 0 20px 0 0;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom: 3px solid;
    flex: 1 0 20px;
    border-bottom-right-radius: 25px;
    margin-left: 40px;
    margin-right: 40px;
}
#borderbottom{
    color: #EE3F35;
    content: '';
    border-top: 30px solid;
    border-top-left-radius: 25px;
    margin: -8px;
    border-top-right-radius: 25px;
    /* border-bottom-left-radius: 25px; */
    /* border-bottom: 3px solid; */
    flex: 1 0 20px;
    /* border-bottom-right-radius: 25px; */
    /* margin-left: 40px; */
    /* margin-right: 40px; */
    margin-top: 287px;
}
#demobox {
    font-size: 20px;
    background-color: #EE3F35;
    color: white;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    text-align: center;
    position: relative;
    bottom: -58px;
    padding-top: 3px;
    padding-bottom: 3px;
  }