*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow: hidden;
}
.page{
    height: 100%;
    width: 100%;
    background-image: url(../img/burger.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.relative{
    position: relative;
}
.page-box{
    width: 380px;
    height: 480px;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 30px;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    box-shadow: 0 0 20px 9px rgb(255, 226, 226);
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
}
#active-btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background-color: #EE3F35;
    border-radius: 30px;
    transition: .5s;
}
.input-group{
    top: 125px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1 px solid #999;
    border-left: 0;
    outline: none;
    background: transparent;
}
.input1{
    margin-top: 20px;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background-color: #EE3F35;
    border: 0;
    outline: none;
    border-radius: 30px;
}
.submit-btn:hover{
    color: white;
}
.check-box{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 65px;
    position: absolute;
}
#login{
    left: 50px;
}
h3{
    text-align: center;
    color: #EE3F35;
    text-transform: uppercase;
}
#register{
    left: 450px;
}
.social-icons{
    margin: 30px auto;
    text-align: center;
    bottom: -320px;
}
.social-icons img{
    margin: 0 12px;
    cursor: pointer;
}
#tw{
    margin-bottom: -2px;
}