#menu-img{
    width: 100%;
    padding: 10px;
    background-repeat: no-repeat;
    /* background-image: url(../img/ylli/table.png); */
    background-image: url(../img/ylli/background-for-food.jpg);
    background-size: 195%;
    height: 90px;
    margin-left: -9px;
    background-position: top;
    overflow: hidden;
    border-radius: 30px;
}
#ham-radius{
    border-radius: 50%;
    border: 2px solid;
    height: 200px;
    width: 200px;
}
#ham-radius :hover{
    cursor: pointer;
}
.burger-img{
    background-image: url("../img/ylli/hamburger.jpg");
}
.doner-img{
    background-image: url("../img/ylli/doner.jpg");
}
.sald-img{
    background-image: url("../img/ylli/salad2.jpg");
}