*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow: hidden;
}
.page{
    height: 100%;
    width: 100%;
    background-image: url(../img/burger.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.section{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 3rem;
    color: white;
}
.hover-link::after{
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #EE3F35;
    transition: width .3s;
}
.hover-link:hover::after{
    width: 100%;
    transition: width .3s;
}