.nav-container{
    display: none;
}
#burger-menu{
    position: fixed;
    top: 0;
    background-color: white;
    background: transparent;
    width: 30px;
    height: 30px;
    margin: 25px 0 20px 20px;
    cursor: pointer;
}
.bar{
    height: 5px;
    width: 100%;
    background-color: #EE3F35;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}
#bar1{
    transform: translateY(-4px);
}
#bar3{
    transform: translateY(4px);
}
.nav-burger li a{
    color: #EE3F35;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}
.nav-burger li:first-child{
    margin-top: 55px;
}
.nav-burger li{
    list-style: none;
    padding: 10px 0;
}
.nav-burger{
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}
.change .bar{
    background-color: #EE3F35;
}
.change #bar1{
 transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
 transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
    opacity: 0;
}
.change{
    display: block;
}
.reload{
    width: 35px;
    position: fixed;
    top: 17px;
    right: 30px;
}
/* Home */
#home h2{
    font-size: 1em;
}
#home .dev{
    font-size: 2.5em;
}
.social-media{
    display: none;
}
#home .button{
    width: 110px;
    height: 40px;
    font-size: 12px;
}
#home .btn2{
    width: 115px;
}
/* Menu */
#menu{
    flex-wrap: wrap;
}
#slider{
    display: none;
}
#menu .food-radius{
    margin: 10px;
    width: 130px;
    height: 130px;
}
.res-text{
    display: none;
}
/* Offers */
#offers{
    font-size: 13px;
}
#offers #offerboxes{
    height: 160px;
    width: 100px;
    padding: 20px;
    margin: 5px 20px;
}
#offers #offerboxes .img{
    height: 80px;
    margin-bottom: -20px;
}
#offers #porosit-btn{
    width: 62px;
    height: 20px;
    margin-top: 5px;
 }
 /* Contact */
 #contact .container{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
#contact .container .contact-div{
    width: 288px;
    height: 290px;
    margin-top: 30px;
}
#contact .container .contact-div h3{
    font-size: 15px;
}
#contact .container .contact-div .input{
    width: 215px;
    height: 27px;
    margin-top: 15px;
    padding: 0 5px;
}
#contact .container .submit-btn{
    margin-top: 12px;
    padding: 8px;
    font-size: 10px;
}
#contact .container .location-div iframe{
    width: 288px;
    height: 200px;
}
#contact .container .location-div{
    margin-left: 0;
}
 /* About */
#about #aboutus{
     font-size: 13px;
    }
#about .container p{
    font-size: 13px;
}
#about #footer p{
    font-size: 13px;
}
#about .about-br{
    display: none;
}