#offer-div{
    text-align: center;
}
#offerboxes{
    height: 250px;
    width: 150px;
    padding: 35px;
    margin: 33px;
    border: 2px solid #999;;
    border-radius: 30px;
    display: inline-block;
}
#offerboxes:hover{
    border-color: #EE3F35;
    padding: 65px;
    box-shadow: 0 0.5px 3px #EE3F35;
    transition: .2s;
}
#ham-img{
    width: 100%;
    height: 110px;
    border-radius: 25px;
}
#porosit-btn{
    width: 105px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    border-radius: 25px;
    border: none;
    background-color: #EE3F35;
    color: white;
 }
 #porosit-btn:hover{
    background-color: white;
    border: 1px solid #EE3F35;
    color: #EE3F35;
    padding: 3px;
    transition: .4s;
 }
 .detaje{
     color:#999;
     font-size: 10px;
 }