*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    color: white;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden; 
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: #EE3F35;
    border-radius: 10px;
}
.full-container{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
.flex{
    display: flex;
}
.nav-container{
    width: 50%;
    margin: 0 auto;
}
.navbar{
    position: fixed;
    top: 0;
    width: 50%;
    height: 60px;
    background: white;
    border-radius: 0 0 35px 35px;
    box-shadow: 0 0.5px 3px #EE3F35;
}
.navbar ul{
    list-style: none;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.navbar ul li{
    margin: 0 1rem;
    padding: 1rem;
}
.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #EE3F35;
}
.navbar ul li a:hover{
    color: #333;
}
.hover-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #EE3F35;
    transition: width .3s;
}
.hover-link:hover::after{
    width: 100%;
    transition: width .3s;
}
.navbar ul li img{
    width: 40px;
    margin-right: -25px;
}
.reload:hover{
    cursor: pointer;
}
div#logout{
    position: fixed;
    right: 25px;
    top: 16px;
}
div#logout a{
    text-decoration: none;
    color: #EE3F35;
    font-size: 13px;
    font-weight: bold;
}
#profile{
    position: absolute;
    right: 79px;
    width: 23px;
    top: 15px;
    padding: 3px;
    border: 2px solid #EE3F35;
    border-radius: 30px;
}
#profile:hover{
    padding: 8px;
    transition: .3s;
    border: none;
    box-shadow: 0 0.5px 3px #EE3F35;
}
.container{
    width: 90%;
    margin: 0 auto;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
    background: white;
}
/* Home */
#home{
    background: url('../img/burger.jpg') no-repeat center center/cover;
}
.left-content{
    width: 90%;
    height: 100%;
    float: left;
}
#home h1{
    font-size: 4rem;
    color: #EE3F35;
    text-align: left;
    font-weight: 800;
    margin-top: -20px;
}
.button{
    width: 170px;
    height: 50px;
    color: white;
    background-color: #EE3F35;
    border-radius: 30px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}
.button:hover{
    background-color: white;
    color: #EE3F35;
    transition: .5s;
}
.social-media{
    width: 8%;
    height: 100%;
    float: right;
}
.social-media ul{
    list-style-type: none;
    text-align: right;
    margin-top: 45%;
}
#fb-logo{
    margin: 5px 6px 0px 0px;
}
#tw-logo{
    margin: 0px -2px 0px 0px;
}
/* Menu */
#menu{
    justify-content: center;
    margin-top: 50px;
}
#menu h1{
    color: #EE3F35;
    text-align: center;
    margin-top: 230px;
}
.food-radius{
    border-radius: 50%;
    border: 2px solid;
    height: 215px;
    width: 215px;
    margin-left: 150px;
}
.food-radius:nth-child(1) {
    margin-left: 0;
}
.food-radius :hover{
    cursor: pointer;
}
#burger-img{
    background-image: url("../img/ylli/hamburger.jpg");
    background-size: 305px;
    background-position-x: -73px;
    background-position-y: 5px;
}
#doner-img{
    background-image: url("../img/ylli/doner.jpg");
    background-size: 384px;
    background-position-x: -8px;
}
#pizza-img{
    background-image: url("../img/ylli/pizza.jpg");
    background-size: 220px;
}
#sald-img{
    background-image: url("../img/ylli/salad2.jpg");
    background-size: 300px;
}
/* Offers */
#offers{
    color: #EE3F35;
}
.offer{
    font-weight: 800;
    text-align: center;
}
#offer-div{
    text-align: center;
}
#offerboxes{
    height: 250px;
    width: 150px;
    padding: 35px;
    margin: 33px;
    border: 2px solid #999;
    border-radius: 30px;
    display: inline-block;
}
#offerboxes:hover{
    border-color: #EE3F35;
    padding: 65px;
    box-shadow: 0 0.5px 3px #EE3F35;
    transition: .2s;
}
.img{
    width: 100%;
    height: 110px;
    border-radius: 25px;
}
#porosit-btn{
    width: 105px;
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    margin-top: 15px;
    border-radius: 25px;
    border: none;
    background-color: #EE3F35;
    color: white;
 }
 #porosit-btn:hover{
    background-color: white;
    border: 1px solid #EE3F35;
    color: #EE3F35;
    padding: 3px;
    transition: .4s;
 }
 /* Contact */
 #contact .container{
     display: flex;
     flex-direction: row;
 }
.contact-div{
    width: 500px;
    border: 2px solid #999;
    border-radius: 14px;
    top: 50%;
    margin-top: 15px;
}
form{
    margin: 30px;
}
.contact-div h3{
    margin: 10px 0 -25px 30px;
    color: #EE3F35;
    font-weight: 800;
}
.input{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #999;
    border-radius: 14px;
    outline: none;
}
.textarea-msg{
    height: 150px;
    padding-top: 10px;
}
.submit-btn{
    border-radius: 20px;
    color: white;
    margin-top: 18px;
    padding: 10px;
    background-color: #EE3F35;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.submit-btn:hover{
    background-color: white;
    color: #EE3F35;
    border: 2px solid #EE3F35;
    border-radius: 20px;
    transition: .5s;
}
.location-div{
    top: 50%;
    margin-top: 15px;
    margin-left: auto;
    border:2px solid #999;
    border-radius: 14px;
}
/* Aboutus */
#about{
    color: #EE3F35;
}
#about .container{
    width: 90%;
    min-height: calc(100vh - 40px);
}
#aboutus {
    font-size: 45px;
    font-weight: 800;
    color: #EE3F35;
    display: flex;
    align-items: center;
}
#aboutus:before, #aboutus:after {
    content: '';
    border-top: 3px solid;
    border-top-left-radius: 25px;
    margin: 0 20px 0 0;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom: 3px solid;
    flex: 1 0 20px;
    border-bottom-right-radius: 25px;
    margin-left: 40px;
    margin-right: 40px;
}
.font-weight{
    font-weight: 800;
}
#footer {
    color: white;
    text-align: center;
    background-color: #EE3F35;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    padding: 6px 0 6px 0;
    margin: auto;
    width: 90%;
}
/* Responsive per monitora te ndryshem*/
@media (max-width:1350px){
    .food-radius{
        height: 200px;
        width: 200px;
        margin-left: 100px;
    }
}
@media (max-width:1250px){
    .navbar{
        width: 55%;
    }
    .food-radius{
        height: 180px;
        width: 180px;
        margin-left: 90px;
    }
    #burger-img{
        background-size: 255px;
        background-position-x: -60px;
    }
    #doner-img{
        background-size: 310px;
        background-position-x: -15px;
    }
}
@media (max-width:1150px){
    .navbar ul li{
        font-size: smaller;
    }
    .navbar ul li img{
        width: 35px;
    }
    .contact-div{
        width: 450px;
    }
    .input{
        width: 370px;
    }
    .location-div iframe{
        width: 450px;
    }
}
@media (max-width:1024px){
    .navbar ul li{
        margin: 0 0.5rem;
    }
    #profile{
        width: 18px;
        right: 55px;
    }
    .food-radius{
        height: 180px;
        width: 180px;
        margin-left: 85px;
    }
    #menu h1{
        margin-top: 160px;
    }
    #menu #slider ul li{
        /* width: ; */
        height: 150px;
    }
    #menu #slider img {
        width: 420px;
        height: 150px;
    }
    .contact-div{
        width: 425px;
    }
    .input{
        width: 340px;
        height: 37px;
    }
    #message{
        padding-bottom: 100px;
    }
    .location-div iframe{
        width: 425px;
    }
    #aboutus{
        font-size: 38px;
    }
    #about p{
        font-size: 15px;
    }
}
@media (min-width: 779px){
    #burger-menu-icon, #burger-menu, .bar{
        display: none;
    }
}