#slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 960px;
  height: 200px;
  background: #292925;
  text-align: center;
  line-height: 300px;
}

#slider img{
  width: 470px;
  height: 200px;
}