.nav-container{
    display: none;
}
#burger-menu{
    position: fixed;
    top: 0;
    background-color: white;
    background: transparent;
    width: 30px;
    height: 30px;
    margin: 25px 0 20px 20px;
    cursor: pointer;
}
.bar{
    height: 5px;
    width: 100%;
    background-color: #EE3F35;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}
#bar1{
    transform: translateY(-4px);
}
#bar3{
    transform: translateY(4px);
}
.nav-burger li a{
    color: #EE3F35;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}
.nav-burger li:first-child{
    margin-top: 55px;
}
.nav-burger li{
    list-style: none;
    padding: 10px 0;
}
.nav-burger{
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}
.change .bar{
    background-color: #EE3F35;
}
.change #bar1{
 transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
 transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
    opacity: 0;
}
.change{
    display: block;
}
.reload{
    width: 35px;
    position: fixed;
    top: 17px;
    right: 30px;
}
/* Home */
#home h2{
    font-size: 1.1em;
}
#home .dev{
    font-size: 3em;
}
#home .button{
    width: 135px;
    height: 43px;
    font-size: 12px;
}
/* Menu */
#menu{
    flex-wrap: wrap;
}
#slider{
    display: none;
}
#menu .food-radius{
    margin: 10px;
    width: 130px;
    height: 130px;
}
/* Offer */
#offers{
    font-size: 14px;
}
#offers #offerboxes{
    height: 230px;
    width: 120px;
    padding: 15px;
    margin: 5px 10px;
}
#offers #offerboxes .img{
    height: 90px;
    margin-bottom: -10px;
}
/* Contact */
#contact .container{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
#contact .container .contact-div{
    width: 325px;
    height: 350px;
}
#contact .container .contact-div h3{
    font-size: 15px;
}
#contact .container .contact-div .input{
    width: 250px;
    height: 30px;
    margin-top: 15px;
    padding: 0 5px;
}
#contact .container .location-div iframe{
    width: 285px;
    height: 343px;
}
@media (min-width: 501px) and (max-width:700px){
    #contact .container .contact-div{
        width: 360px;
        height: 290px;
    }
    #contact .container .contact-div h3{
        font-size: 15px;
    }
    #contact .container .contact-div .input{
        width: 290px;
        height: 30px;
        margin-top: 10px;
        padding: 0 5px;
    }
    #contact .container .location-div{
        margin-left: 0;
    }
    #contact .container .location-div iframe{
        width: 360px;
        height: 225px;
    }
    #about #aboutus{
        font-size: 30px;
       }
    #about .container p{
        font-size: 14px;
    }
    #about #footer p{
        font-size: 14px;
    }
    #about .about-br{
        display: none;
    }
}